# Core App & Logic
streamlit
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-ollama
langchain-chroma
chromadb
langchain-experimental

# Document Processing
python-docx
pypdf
pdfplumber
pytesseract
Pillow

# Retrieval & Verification
rank-bm25
sentence-transformers
nltk
ollama

# Evaluation Tools
tabulate
pandas
